@import "../../styles/global.scss";
@import "../../styles/responsive.scss";
@import "../../styles/variables.scss";

.order-container {
  font-family: "Inter", sans-serif;
  color: $primary-text;

  h2 {
    color: $secondary-text;
    margin-bottom: 20px;
  }

  .MuiDataGrid-root {
    border: 1px solid $secondary-bg;
    background-color: #a5d7e8;

    .MuiDataGrid-cell {
      padding: 10px;
    }

    .MuiDataGrid-row {
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $tertiary-bg;
      }
    }

    .MuiDataGrid-selected {
      background-color: $tertiary-bg;
    }
  }

  button {
    padding: 8px;
    background-color: $secondary-bg;
    color: $primary-text;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary-bg;
    }
  }

  @include sm {
    h2 {
      font-size: 18px;
    }

    .MuiDataGrid-cell {
      padding: 8px;
    }

    button {
      padding: 6px;
      font-size: 14px;
    }
  }

  @include md {
    h2 {
      font-size: 24px;
    }

    .MuiDataGrid-cell {
      padding: 12px;
    }

    button {
      padding: 10px;
      font-size: 16px;
    }
  }

  @include lg {
    h2 {
      font-size: 28px;
    }

    .MuiDataGrid-cell {
      padding: 14px;
    }

    button {
      padding: 12px;
      font-size: 18px;
    }
  }

  @include xl {
    h2 {
      font-size: 32px;
    }

    .MuiDataGrid-cell {
      padding: 16px;
    }

    button {
      padding: 14px;
      font-size: 20px;
    }
  }

  @include xxl {
    h2 {
      font-size: 36px;
    }

    .MuiDataGrid-cell {
      padding: 18px;
    }

    button {
      padding: 16px;
      font-size: 22px;
    }
  }
}
