.top-box {
  h1 {
    margin-bottom: 20px;
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      .user {
        background-color: transparent;
        display: flex;
        gap: 20px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }
        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .userName {
            font-size: 15px;
            font-weight: 500;
          }
          .email {
            font-size: 12px;
          }
        }
      }
      .amount {
        font-weight: 500;
      }
    }
  }
}
