@import "../../styles/responsive.scss";
.top-box {
  h1 {
    margin-bottom: 20px;
    @include xxl{
      font-size: 24px;
    }
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      .user {
        background-color: transparent;
        display: flex;
        gap: 20px;
        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;

          @include xxl{
            display: none;
          }
          @include lg{
            display: block;
          }
        }
        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .userName {
            font-size: 15px;
            font-weight: 500;
          }
          .email {
            font-size: 12px;
            @include xxl{
              display: none;
            }
            @include lg{
              display: block;
            }
          }
        }
      }
      .amount {
        font-weight: 500;
      }
    }
  }
}
