@import "../../styles/responsive.scss";
@import "../../styles/global.scss";

.profile-page {
  background-color: $primary-bg;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  h2 {
    color: $secondary-text;
    margin-bottom: 20px;
  }

  .user-info {
    margin-bottom: 20px;

    .profile-picture {
      border-radius: 50%;
      margin-bottom: 15px;
      width: 120px;
      height: 120px;
      border: 5px solid $tertiary-bg;
    }

    .user-details {
      text-align: start;
      color: $primary-text;

      p {
        margin: 0;
      }
    }
  }

  form {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;

    label {
      display: block;
      margin-bottom: 10px;
      color: $tertiary-text;

      input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid $tertiary-bg;
        border-radius: 5px;
        font-size: 14px;
        color: $primary-text;
        background-color: transparent;
        transition: border-color 0.3s;

        &:focus {
          outline: none;
          border-color: $secondary-bg;
        }
      }

      input[type="file"] {
        margin-top: 0;
      }

      &.new-password {
        color: $tertiary-text;
        font-size: 16px;
        margin-top: 10px;
      }
    }

    button {
      width: 100%;
      padding: 12px;
      margin-top: 15px;
      background-color: $tertiary-bg;
      color: $primary-text;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $secondary-bg;
      }
    }
  }

  .new-password-container{
    .change-password {
      margin-top: 20px;
      width: 100%;
      max-width: 500px;
  
      h3 {
        color: $secondary-text;
        margin-bottom: 15px;
      }
  
      label {
        display: block;
        margin-bottom: 10px;
        color: $tertiary-text;
      }
  
      input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        box-sizing: border-box;
        border: 1px solid $tertiary-bg;
        border-radius: 5px;
        font-size: 14px;
        color: $primary-text;
        background-color: transparent;
        transition: border-color 0.3s;
  
        &:focus {
          outline: none;
          border-color: $secondary-bg;
        }
      }
  
      button {
        width: 100%;
        padding: 12px;
        margin-top: 15px;
        background-color: $tertiary-bg;
        color: $primary-text;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: $secondary-bg;
        }
      }
    }
  }

  .user-activity {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;

    h3 {
      color: $secondary-text;
      margin-bottom: 15px;
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: $tertiary-bg;
      color: $primary-text;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s;

      &:hover {
        background-color: $secondary-bg;
      }
    }
  }

  @include md {
    .user-info {
      flex-direction: row;

      .profile-picture {
        margin-right: 20px;
      }
    }
  }

  @include sm {
    form {
      label {
        input {
          width: calc(100% - 20px);
        }
      }
    }
  }
}
