.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  p {
    font-weight: bold;
  }
  div {
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: end;
    a {
      font-size: 14px;
    }
  }
}
